html {
    background-color: crimson;
}
body {
    width: 1000px;
    margin: 0 auto;
    background-color: floralwhite;
    padding: 0 15px;
    font-family: monospace;
}
td.main {
    text-align: left;
    vertical-align: top;

    
}
tr {
    height:85px;
}
h1 {
    margin: 0;
    padding: 0px 0px 0px 0px;
    border-bottom-color: black;
    border-bottom-style: double;
    border-bottom-width: 5px;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}
td.mainsub {
    vertical-align: middle;
    text-align: left;
}
p.mainsub {
    margin-left: 0px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 5px;

    padding-left: 10px;
    font-size: 20px;
}
td.subsub {
    vertical-align: middle;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
tr.closer {
    
}
strong {
    font-weight:600;
}
td.subsub {
    border-bottom-color: black;
    border-bottom-style: double;
    border-bottom-width: 5px;
}
img.mainimg {
    padding: 0;
    border: 5px double black;
    background-color: white;
}